@media screen and (max-width: 683px) {
    header {
        color: white;
        text-align: center;
        font-family:  "Lucida Calligraphy", cursive;
        padding-bottom: 5vh;
        font-size: 3vh;
        padding-top: 1.9vh;
    }

    h2 {
        color: white;
        margin-bottom: 5vh;
    }

    h3 {
        margin-bottom: -0.5vh;
        font-size: 3.5vh;
    }

    body {
        margin: 0;
        background-image: url("../Background-Photo.jpg");
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat
    }
    
    .resume {
        float: right;
        margin-top: 5vh;
        width: 100vw; 
        height: 53.5vh;
    }

    .photo {
        float: center;
        width: 100vw;
        height: min-content;
        margin-top: -5vh;
        margin-bottom: 10vh;
    }

    #nav {
        border: 0.4vh solid white;
        width: fit-content;
        padding: 0.6vh;
        color: black;
        background-color: white;
        size: 100vh;
    }  

    .fallJump {
        margin-top: -3vh;
        border: 0.4vh solid red;
        width: 95vw;
        padding: 0.6vh;
        color: black;
        background-color: black;
        size: 100vh;
    }

    .fall-photo {
        height: 33vh;
        width: 100vw;
        margin-top: 3vh; 
        margin-bottom: 4.5vh;
    }

    .center {
        text-align: center;
        margin-top: -5vh;
    }

    p {
        text-align: center;
        color: white;
    }

    .contact {
        color: white;
        margin-bottom: 10vh;
    }

    li {
        font-size: 2.25vh;
    }

    .lists-tech {
        color: white;
        padding-left: 4vh;
        margin-top: -1vh;
    }

    .lists-work {
        color: white;
        padding-left: 4vh;
        margin-top: -1vh;
    }

    .lists-school {
        color: white;
        padding-left: 4vh;
        margin-top: -1vh;
    }

    .lists h3 {
        font-size: 3.2vh;
    }

    footer {
        color: lightgray; 
        clear: both; 
        position: sticky;
        text-align: center;
        padding-top: 2.5vh;
    }

    .center a:link {
       text-decoration: none; 
    }

    .center a:visited {
        text-decoration: none;
    }

    a:link {
        color: white;
    }

    a:visited {
           color: white;
    }

    footer a:link {
        color: lightgray;
        text-decoration: none;
    }

    footer a:visited {
        color: lightgray;
        text-decoration: none;
    }
}

 @media screen and (min-width: 683px) {
    header {
        color: white;
        text-align: center;
        font-family:  "Lucida Calligraphy", cursive;
        padding-bottom: 5vh;
        font-size: 3vh;
        margin-left: -40vw;
        padding-top: 5vh;
        margin-top: 10vh;
    }

    h2 {
        color: white;
        margin-bottom: 10vh;
        margin-left: -40vw;
    }

    h3 {
        margin-bottom: -0.5vh;
        font-size: 3.5vh;
    }

    body {
        margin: 0;
        background-image: url("../Background-Photo.jpg");
        background-size: cover; 
        background-position: center center;
    }

    .resume {
        float: right;
        margin-top: -86.68vh;
        margin-right: 2vw;
        width: 34vw; 
        height: 91vh;
    }

    .photo {
        float: right;
        height: 90vh;
        margin-top: -75vh;
        margin-bottom: 3vh;
        margin-right: 4.5vw;
    }

    #nav {
        border: 0.4vh solid white;
        width: fit-content;
        padding: 0.6vh;
        color: black;
        background-color: white;
        size: 100vh;
    }  

    .fallJump {
        margin-top: -68vh;
        float: right;
        border: 0.4vh solid red;
        width: 65vh;
        color: black;
        background-color: black;
        margin-right: 5vw;
    }

    .fall-photo {
        float: right;
        height: 38vh;
        margin-top: -21.7vh;
        margin-bottom: 5.2vh;
        margin-right: 4.5vw;
    }

    .center {
        text-align: center;
        margin-top: -5vh;
    }

    p {
        text-align: center;
        color: white;
    }

    .contact {
        color: white;
        margin-left: -40vw;
    }

    li {
        font-size: 2.25vh;
    }

    .lists-tech {
        color: white;
        padding-left: 5vw;
        margin-top: -1vh;
    }

    .lists-work {
        color: white;
        padding-left: 5vw;
        margin-right: 40vw;
        margin-left: 20vw; 
        margin-top: -30vh;
    }

    .lists-school {
        color: white;
        padding-left: 5vw;
        margin-top: -1vh;
        margin-left: 40vh; 
        margin-top: -1vh;
        margin-bottom: 2.1vh;
    }

    .lists h3 {
        font-size: 3.2vh;
    }

    footer {
        color: lightgray; 
        clear: both; 
        position: sticky;
        text-align: center;
    }

    .center a:link {
       text-decoration: none; 
    }

    .center a:visited {
        text-decoration: none;
    }

    a:link {
        color: white;
    }

    a:visited {
           color: white;
    }

    footer a:link {
        color: lightgray;
        text-decoration: none;
    }

    footer a:visited {
        color: lightgray;
        text-decoration: none;
    }
}